<!-- Footer -->
<br><br><br>
<footer class="page-footer font-small blue" style="background-color: #e3f2fd;">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© Sistema de TCC 2019
    <p>Desenvolvido pelos alunos da disciplina de Engenharia de Software II</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->