<footer class="main-footer bottom">

  <div class="footer-copyright text-center py-3">
    <p id="footer"></p>
  </div>
  <script>
    var now = new Date
    ano = now.getFullYear()
    document.getElementById('footer').innerHTML = "© Sistema de TCC " + ano + " <br>Desenvolvido pelos alunos das disciplinas de Engenharia de Software II e Gerência de Projetos de Software "
  </script>
</footer>