<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
    <h1 class="display-5 text-center">Bem vindo ao Sistema de TCC!</h1>
    <p class="text-justify">
        Software desenvolvido pela turma de Engenharia de Software II e Gerencia de Projetos 2019/1, que busca oferecer
        uma solução
        para o gerenciamento dos TCCs do Curso de Sistemas de Informação da Universidade Federal
        do Vales Jequitinhonha e do Mucuri (UFVJM).</p>
    <p class="text-justify">
        Esse software irá auxiliar qualquer aluno que deseja buscar algum TCC em específico tanto
        como para baixar a monografia quanto informações do TCC, bem como buscar quais são os
        professores e suas áreas de pesquisa, além da documentação necessária para a inicialização. </p>
    <br>
    <div class="form-row">
        <div class="form-group col-md-5 text-center">
            <a href="/tcc/documentacao"><button type="submit" class="btn btn-secondary btn-lg"
                    style="background:rgba(52, 152, 219,1.0)">Documentos necessários para iniciação
                    </button></a>
        </div>

        <div class="form-group col-md-2 text-center">
            <a href="/tcc/index"> <button type="submit" class="btn btn-secondary btn-lg"
                    style="background:rgba(52, 152, 219,1.0);">Pesquisar TCC</button></a>
        </div>
        
        <div class="form-group col-md-5 text-center">
            <a href="/tcc/docentes"> <button type="submit" target=_blank class="btn btn-secondary btn-lg"
                style="background:rgba(52, 152, 219,1.0)">Professores disponíveis para orientação</button></a>

        </div>

    </div>
</div>
</div>