<link rel="stylesheet" type="text/css" href="/css/style/styles.css">
<style type="text/css" media="screen">
  body{
    transition: background 0.9s ease-in-out;
    -webkit-transition: background 0.9s ease-in-out;
  }
</style>

<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card">
      <div class="card-header">
        <h3 style="text-align: center; font-weight: 550; font-size: 2em;">Login</h3>
      </div>
      <div class="card-body">
        <form action="/usuarios/login/aut", method="POST">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" name="email" placeholder="Login">

          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" name="senha" placeholder="Senha">
          </div>
          <br>
          <div class="row align-items-center remember">
            <input type="checkbox">Salvar
          </div>
          <div class="form-group">
           <button type="submit" class="btn float-right login_btn" >Entrar</button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Não possui conta?<a href="/usuarios/registro">Cadastre-se</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var imageCount = 0;
  var currentImage = 0;
  var backgrounds = [
  "https://i.imgur.com/mBdct1D.jpg",
  "https://wallpapercave.com/wp/UQrVgBv.jpg",
  "http://sfwallpaper.com/images/full-hd-landscape-wallpaper-13.jpg",
  "https://stmed.net/sites/default/files/landscape-wallpapers-27931-9332967.jpg",
  "https://i.pinimg.com/originals/69/8e/0a/698e0a7a3fc8a49bc13a7f408e6fb8a0.jpg",
  "https://images.wallpaperscraft.com/image/park_hungary_autumn_landscape_86238_1920x1080.jpg"
  ];

  var preLoadbackgrounds = new Array();
  for (var i = 0; i < backgrounds.length; i++)
  {
    if (backgrounds[i] == "")
      break;
    preLoadbackgrounds[i] = new Image();
    preLoadbackgrounds[i].src = backgrounds[i];
    imageCount++;
  }

  function startSlideShow()
  {
    if (document.body && imageCount > 0)
    {
      document.body.style.backgroundImage = "url("+backgrounds[currentImage]+")";    
      document.body.style.backgroundAttachment = "fixed";
      document.body.style.backgroundRepeat = "repeat";
      document.body.style.backgroundPosition = "left top";

      currentImage = currentImage + 1;
      if (currentImage > (imageCount-1))
      { 
        currentImage = 0;
      }
      setTimeout('startSlideShow()', 4000);
    }
  }
  startSlideShow();

</script>