<h3>Apresentações marcadas</h3>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Título</th>
            <th scope="col">Aluno</th>
            <th scope="col">Data</th>
            <th scope="col">Hora</th>
            <th scope="col">Detalhe</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Engenharia de Software em times ágeis</td>
            <td>Marcelo de Brito</td>
            <td>25/06/2019</td>
            <td>14:00</td>
            <td align="center"><a href=""><button class="btn btn-primary px-3 py-1"><i class="fas fa-bars"
                        style="color: white"></i></a></td>
        </tr>
        <tr>
            <td>Mineração de Texto</td>
            <td>Aline Moráis</td>
            <td>01/07/2019</td>
            <td>18:30</td>
            <td align="center"><a href=""><button class="btn btn-primary px-3 py-1"><i class="fas fa-bars"
                        style="color: white"></i></a></td>
 
        </tr>
    </tbody>
</table>