<style>
    #datepicker {
        width: 300px;
    }
    .detalhes_req:hover {
        background: rgba(0, 169, 161, 0.3);
        cursor: pointer;
    }
</style>
<div class="col m12 s12 detalhes_req">
    <a class="waves-effect waves-light btn"  onclick="history.go(-1);" style="background: #34a5a1; color: white; float: right;">
        <i class="fas fa-arrow-left"></i> Voltar
    </a>
</div>
<br>
<h3 style="text-align: left;">Documentação nescessária</h3>
<!--<form action="">
    <div class="col-xs-4">
        <div class="form-group">
            <input type="file" class="">
        </div>
        <button type="button" class="btn btn-success mb-2">Enviar Arquivo</button>
    </div>
</form>-->
<div class="card" style="margin-bottom: 10em;">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 mt-3">
                <div class="card-body">
                    <h5 id="nome-doc" class="card-title d-flex justify-content-center">Normas para a Redação do TCC</h5>
                    <a href="/tcc/doc1"  target="_blank">
                        <p class="card-text"><i class="far fa-file-alt d-flex justify-content-center"
                                style="font-size: 3em;"></i></p>
                    </a>
                </div>
            </div>
             <div class="col-sm-6 mt-3">
                <div class="card-body">
                    <h5 id="nome-doc" class="card-title d-flex justify-content-center">Resolução nº 22 do Consepe</h5>
                    <a href="/tcc/doc2" target="_blank">
                        <p class="card-text"><i class="far fa-file-alt d-flex justify-content-center"
                                style="font-size: 3em;"></i></p>
                    </a>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>