<style>
    #datepicker {
        width: 300px;
    }
</style>

<h3>Exibir todos os TCCs</h3>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nº</th>
                    <th scope="col">Aluno</th>
                    <th scope="col">Orientador</th>
                    <th scope="col">Tema</th>
                    <th scope="col">Detalhes</th>
                    <th scope="col">Download</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Nome</td>
                    <td>Prof</td>
                    <td>Tema</td>
                    <td><i class="fas fa-question-circle"></i></td>
                    <td><i class="fas fa-download"></i></td>
                    <td><i class="fas fa-pen"></i></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Nome</td>
                    <td>Prof</td>
                    <td>Tema</td>
                    <td><i class="fas fa-question-circle"></i></td>
                    <td><i class="fas fa-download"></i></td>
                    <td><i class="fas fa-pen"></i></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Nome</td>
                    <td>Prof</td>
                    <td>Tema</td>
                    <td><i class="fas fa-question-circle"></i></td>
                    <td><i class="fas fa-download"></i></td>
                    <td><i class="fas fa-pen"></i></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Nome</td>
                    <td>Prof</td>
                    <td>Tema</td>
                    <td><i class="fas fa-question-circle"></i></td>
                    <td><i class="fas fa-download"></i></td>
                    <td><i class="fas fa-pen"></i></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Nome</td>
                    <td>Prof</td>
                    <td>Tema</td>
                    <td><i class="fas fa-question-circle"></i></td>
                    <td><i class="fas fa-download"></i></td>
                    <td><i class="fas fa-pen"></i></td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Nome</td>
                    <td>Prof</td>
                    <td>Tema</td>
                    <td><i class="fas fa-question-circle"></i></td>
                    <td><i class="fas fa-download"></i></td>
                    <td><i class="fas fa-pen"></i></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>