<h3 style="text-align: center;">Bem Vindo!</h3>
<div class="card">
  <div class="card-body">
    <form class="form-inline">
      <input class="form-control mr-2 col-sm-7" type="search" placeholder="Pesquisar" aria-label="Search">
      <select class="form-control mr-sm-2 col-sm-2">
        <option>Tema</option>
        <option>Orientador</option>
        <option>Aluno</option>
        <option>Titulo</option>
      </select>
      <button class="btn btn-outline-success my-2 my-sm-0 col-sm-2" type="submit">Pesquisar</button>
    </form>
  </div>
</div>